<div class="container">
     <div class="nav navbar-fixed-bottom" style="z-index:10;">
           <div class="row" style="background-color:#e4393c;">
                 <div class="col-xs-3" style="position:relative;">
                   <a href="#/main" class="footer-a">
                         <i class="home"></i>
                         <span class="font-center font-white">首页</span>
                   </a>
                 </div>
                 <div class="col-xs-3" style="position:relative;">
                   <a href="#/news_list" class="footer-a">
                         <i class="comment"></i>
                         <span class="font-center font-white " >交流</span>
                   </a>
                 </div>
                 <div class="col-xs-3" style="position:relative;">
                   <a href="#/shopcart_list"class="footer-a">
                         <i class="shopcart"></i>
                         <span class="font-center font-white ">购物车</span>
                   </a>
                 </div>
                 <div class="col-xs-3" style="position:relative;">
                   <a href="#/user_login_form" class="footer-a">
                         <i class="user"></i>
                         <span class="font-center font-white ">用户</span>
                   </a>
                 </div>
           </div>
     </div>
</div>

