<div class="container">
    <header id="search-header" class="nav navbar-fixed-top" style="height:80px;background-color:#e4393c;">
        <div class="row">
            <div class="col-xs-2">
                <a href="{{back}}">
                    <img ng-src="{{leftsrc}}" alt=""/>
                </a>
            </div>
            <div class="col-xs-8"><h1 class="font-white" style="text-align:center;">{{title}}</h1></div>
            <div class="col-xs-2">
                <a href="javascript:;">
                    <img ng-src="{{rightsrc}}" alt=""/>
                </a>
            </div>
        </div>
        <div id="left-bar">

        </div>
        <div id="right-bar"></div>
    </header>
</div>
