<main class="container nav navbar-fixed-top bg-head" style="height:80px;line-height:80px;">
    <div class="row">
        <div class="col-xs-1">
            <img src="Style/img/scan.png" alt=""/>
        </div>
        <div class="col-xs-10">
            <input type="text" class="form-control" placeholder="热门搜索" style="background:url(Style/img/search.png)no-repeat left center;display:inline-block;box-sizing:border-box;padding-left:50px;"/>
        </div>
        <div class="col-xs-1" >
            <img src="Style/img/message.png" alt=""/>
        </div>
    </div>
</main>
