<ng-include src="'Template/Public_Tpl/header.html'"></ng-include>
<main class="container">
     <div class="row" style="position:relative;">
         <div class="col-xs-12"><h1 class="font-center">{{newsInfo.title}}</h1></div>
         <div class="col-xs-12">
             <img ng-src="Style/img/{{newsInfo.url}}" alt="" style="width:200px;height:200px;position:absolute;left:50%;margin-left:-100px;"/>
         </div>
         <div class="col-xs-12">
               <div class="font-center" style="position:absolute;width:90%;height:auto;top:200px;text-indent:20px;">
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius esse exercitationem quae quisquam, tempora voluptate! A debitis dolor illum incidunt ipsam, modi necessitatibus quisquam recusandae rem temporibus, tenetur unde.
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur consequuntur, doloremque eius enim id ipsa libero magni maiores molestias natus odit perferendis quaerat ut veritatis. Cumque impedit maiores voluptatem?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloribus dolo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque eius esse exercitationem quae quisquam, tempora voluptate! A debitis dolor illum incidunt ipsam, modi necessitatibus quisquam recusandae rem temporibus, tenetur unde.
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto aspernatur consequuntur, doloremque eius enim id ipsa libero magni maiores molestias natus odit perferendis quaerat ut veritatis. Cumque impedit maiores voluptatem?
                   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos doloribus dolo
               </div>
         </div>
     </div>
</main>