<main class="container">
     <div class="row">
         <div class="col-xs-2">
             <img src="" alt=""/>
         </div>
         <div class="col-xs-3">
              <h6>xxxxxxxxxxxx</h6>
         </div>
     </div>
     <div class="row">
          <h3 class="col-xs-12">xxxxxxxxx</h3>
          <div class="col-xs-12">
              <div class="col-xs-4">
                  <img ng-src="" alt=""/>
              </div>
              <div class="col-xs-4">
                  <img ng-src="" alt=""/>
              </div>
              <div class="col-xs-4">
                  <img ng-src="" alt=""/>
              </div>
          </div>
     </div>
</main>