
/*body {
  overflow-x: hidden;
  margin-top: 70px;
  margin-bottom: 70px;
  overflow-y: scroll;
  font-family: 'SimHei';
}*/
.tpl-container {
  position:absolute;
  width: 100%;
  transition: all 0.4s linear;
}
.tpl-container.ng-leave {
  left: 0;
  opacity: 1;
}
.tpl-container.ng-leave.ng-leave-active {
  left:-100%;
  opacity: 0;
}
.tpl-container.ng-enter {
  left: 100%;
  opacity: 0;
}
.tpl-container.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
/*.price {*/
  /*border-top: 1px solid #ccc;*/
  /*padding-top: 6px;*/
  /*color: #e4393c;*/
  /*font-size: 1.2em;*/
  /*font-weight: bold;*/
/*}*/
