<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="Style/img/1.png" alt="...">
        <div class="caption">
          <h3 class="text-center">支付成功</h3>
          <p class="text-center">你的订单(XXXX)已支付成功</p>
          <p class="text-center">你可以在 <a href="">我的订单中</a>中查看或修改你的订单</p>
          <p class="text-center"><a href="#" class="btn btn-primary" role="button">该页面将在28秒后自动跳转</a></p>
        </div>
      </div>
    </div>
  </div>
</div>