<div class="container">
    <div class="row bg-head" style="height:100px;line-height:100px;">
        <div class="col-xs-3" style="width:20%;">
                  <span>全部</span>
        </div>
        <div class="col-xs-3" style="width:20%;">
                  <span>代付款</span>
        </div>
        <div class="col-xs-3" style="width:20%;">
                  <span>待发货</span>
        </div>
        <div class="col-xs-3" style="width:20%;">
                  <span>待收货</span>
        </div>
        <div class="col-xs-3" style="width:20%;">
                  <span>待评价</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1">logo</div>
        <div class="col-xs-8">店家名称</div>
        <div class="col-xs-3">交易状态</div>
    </div>
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="Style/img/p0281.jpg" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">Media heading</h4>
            ...
        </div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-xs-offset-3">共一件商品 合计{{}}(含运费{{}})</div>
    </div>
    <div class="btn btn-default col-xs-offset-6 col-xs-3">删除订单</div>
    <div class="btn btn-warning col-xs-3">评价</div>
</div>